<h1>Optimize your grow</h1>
<p>Given the outdoor temperature, humidity and parameters of your growing facility, 
this program determines the optimial quantity of ventilation, heating, cooling, and 
evaporative cooling. To get started, click on one of the tools above.</p>

<h2>About</h2>
<p>Optimizeyourgrow was built by <a href="https://www.linkedin.com/in/iatkinz/">Ian Atkins</a>. The optimization program is written in <a href="https://julialang.org/">Julia</a>. The web interface was built using using <a href="https://angularjs.org/">Angular</a>. The interface and the linking between the Julia code and the interface is based on open source code for <a href="https://github.com/JuliaDiffEq/DifferentialEquations.jl">DifferentialEquations.jl</a>.
</p>
